@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* Colors */
  --red: #e50914;
  --dark-blue: #010101;
  --blue: #0071eb;
  --light-grey: rgb(101, 100, 100);
  --dark-grey: rgb(66, 65, 65);
  --black-opacity-6: #0000006d;
  --white-opacity-3: #ffffff3d;
  --white: #fff;

  /* Fonts */
  --sans: 'Poppins', sans-serif;
  --light: 100;
  --regular: 400;
  --bold: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
}
