@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
  /* Colors */
  --red: #e50914;
  --dark-blue: #010101;
  --blue: #0071eb;
  --green: #45ce67;
  --light-grey: rgb(101, 100, 100);
  --dark-grey: rgb(66, 65, 65);
  --black-opacity-6: #0000006d;
  --white-opacity-3: #ffffff3d;
  --white-opacity-6: #ffffff6d;
  --white-opacity-9: #ffffff9d;
  --dark: #141414;
  --white: #fff;

  /* Fonts */
  --primary: 'Poppins', sans-serif;
  --secondary: 'Open Sans', sans-serif;
  --light: 100;
  --regular: 400;
  --semiBold: 600;
  --bold: 700;
}

html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--primary);
  height: 98%;
}
